# tggt-firebase
@antmorelabs-packages:registry=https://gitlab.com/api/v4/projects/60668103/packages/npm/
//gitlab.com/api/v4/projects/60668103/packages/npm/:_authToken=${NPM_AUTH_TOKEN}    

# Slide package
@antmorelabs-packages:registry=https://gitlab.com/api/v4/projects/60998125/packages/npm/
//gitlab.com/api/v4/projects/60998125/packages/npm/:_authToken=${NPM_AUTH_TOKEN}


# Battle package
@antmorelabs-packages:registry=https://gitlab.com/api/v4/projects/61152785/packages/npm/
//gitlab.com/api/v4/projects/61152785/packages/npm/:_authToken=${NPM_AUTH_TOKEN}